/baitap/Clock/nbproject/private/
/baitap/Clock/build/
/baitap/Ltmbai1/build/
/baitap/Ltmbai1/nbproject/private/
/baitap/Socket1/nbproject/private/
/baitap/Socket1/build/
/baitap/Socket2/nbproject/private/
/baitap/Socket2/build/
/baitap/BaiTH2/nbproject/private/
/baitap/BaiTH2/build/
/baitap/TCPClient/nbproject/private/
/baitap/TCPClient/build/
/baitap/NguyenVietHuong_Nhom4/TCPClient/build/
/baitap/NguyenVietHuong_Nhom4/TCPClient/nbproject/private/
/baitap/RMIClient/nbproject/private/
/baitap/RMIClient/build/
/BTL/BTL Monopoly/build/
/BTL/BTL Monopoly/nbproject/private/
/baitap/Mail/nbproject/private/
/baitap/Mail/build/
/Java-Chess/Java Chess/build/
/Java-Chess/Java Chess/dist/
/Java-Chess/Java Chess/nbproject/private/
